:root {
  --transitionTime: "2s";
}

body {
  font-size: 1rem;
  padding: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.inputContainer {
  padding: 1rem;
  border: 1px solid black;
  min-width: fit-content;
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.inputStyle {
  padding: 0.2rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  border: 1px solid gray;
}

#createLiftBtn {
  padding: 0.2rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  border: 1px solid gray;
  width: fit-content;
}

#simulationContainer {
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 90%;
  min-height: fit-content;
  padding: 1rem;
}

.floor {
  height: 8rem;
  /* border-bottom: 3px solid black; */
  display: flex;
  gap: 1rem;
  width: 90vw;
  border: 1px solid red;
}

.floorName {
  float: right;
  font-weight: bold;
}

.buttonContainer {
  padding: 0.2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  /* min-width: 10%; */
  min-width: 15%;
  width: fit-content;
  border-right: 2px solid salmon;
}

.liftContainer {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.lift {
  height: 80%;
  width: 33%;
  max-width: 80px;
  background-color: SlateBlue;
  margin-top: 1.6rem;
  position: relative;
  top: 0;
  transition: all var(--transitionTime) ease-out;
  display: flex;
}

.door {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #cccad8;
  border: 1px solid black;
  transition: all 5s ease-out;
}

.upBtn {
  width: max-content;
  background-color: greenyellow;
}

.downBtn {
  background-color: orange;
  width: max-content;
}

@media only screen and (max-width: 600px) {
  .inputContainer {
    flex-direction: column;
  }
  body {
    padding: 0;
  }
}
