:root {
  --transitionTime: "2s";
}

body {
  font-size: 1rem;
  padding: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.inputContainer {
  padding: 1rem;
  border: 1px solid black;
  max-width: fit-content;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.inputStyle {
  padding: 0.4rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  border: 1px solid gray;
  width: 100px;
}

#createLiftBtn {
  padding: 0.4rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  border: 1px solid gray;
  width: fit-content;
  background-color: rgb(237, 161, 62);
}

#simulationContainer {
  margin: 0 auto;
  margin-top: 2rem;
  width: max-content;
  min-width: 80vw;
  min-height: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.floor {
  height: 8rem;
  display: inline-flex;
  gap: 1rem;
  border-bottom: 2px solid salmon;
  min-width: 100%;
}

.floorName {
  float: right;
  font-weight: bold;
}

.buttonContainer {
  padding: 0.2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  min-width: 55px;
  width: fit-content;
  border-right: 2px solid salmon;
}

.liftContainer {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.lift {
  height: 80%;
  min-width: 70px;
  width: 33%;
  max-width: 80px;
  background-color: rgb(125, 113, 203);
  margin-top: 1.6rem;
  position: relative;
  top: 0;
  transition: all var(--transitionTime) ease-out;
  display: flex;
  overflow: hidden;
}

@keyframes openCloseDoor {
  0%,
  100% {
    width: 50%;
  }
  50% {
    width: 0px;
  }
}

.door {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #cccad8;
  border: 1px solid black;
  animation-timing-function: ease-in-out;
}

.upBtn {
  width: max-content;
  background-color: greenyellow;
}

.downBtn {
  background-color: orange;
  width: max-content;
}

@media only screen and (max-width: 600px) {
  .inputContainer {
    flex-direction: column;
  }
  body {
    padding: 0;
  }
}
